.cart{
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    li{
        list-style-type: none;
    }
}
.product{
    margin: 15px 0 15px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(251, 251, 251);
    @media (max-width: 768px) {
        flex-flow: column wrap;
        width: fit-content;
    }
}
.pic{
    width: 25%;
    img{
        width: 250px;
        height: auto;
    }
}
.info{
    width: 75%;
    text-align: right;
}
form{
    width: 90%;
    margin: auto;
    input{
        &[type="text"], &[type="tel"]{
            @media (max-width:768px) {
            width: 100%;
            padding: 12px;
            box-sizing: border-box;
    }
        }
    }
}
.label{
            display: inline-block;
            width: 15%;
            vertical-align: top;
            text-align: left;
            margin-right: 15px;
        }